.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

legend {
    margin: 10px;
    padding: 10px;
}

fieldset {
    align-items: center;
    padding: 10px;
}

input {
    outline: none;
    border: 2px solid rgb(167, 166, 166);
    padding: 5px;
    border-radius: 20px;
    width: 300px;
    margin: 10px 0px;
}

.box {
    position: absolute;
    width: auto;
    max-width: 25%;
    margin: 2%;
    background-color: #f5f5f5;
    padding: 10px;
    display: inline-block;
    z-index: 100;
}

.check::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #f5f5f5;
    border-top: 10px solid #f5f5f5;
    border-bottom: 10px solid transparent;
    left: -15px;
    top: 6px
}

.errorquotes {
    font-weight: 600;
    color: rgb(245, 50, 1);
}

p,
i {
    font-size: 10px;
    display: inline;
    text-align: center;
    padding: 3px;
    margin: auto;
    vertical-align: center;
}